<footer>
  <div class="social-media-buttons">
    <a href="https://www.linkedin.com/in/caio-cabral-programmer/" target="_blank" class="social-media-buttons-links">LinkedIn</a>          <!-- Link para o perfil do LinkedIn que abre em nova aba, com classes para estilização -->
    <a href="https://github.com/Caio-Cabral-Programmer" target="_blank" class="social-media-buttons-links">GitHub</a>                        <!-- Link para o perfil do GitHub que abre em nova aba, com classes para estilização -->
    <a href="https://www.notion.so/Java-1c990d83bc33814c9659f977de346a2a" target="_blank" class="social-media-buttons-links">Notion (My Java Study Board)</a>  <!-- Link para o quadro de estudos Java no Notion que abre em nova aba -->
    <button> Email </button>
  </div>
  <div class="dividing-line">
    <div></div>
  </div>
  <p>by Caio Cabral → Spring Boot & Angular | Spring Data JPA & H2/PostgreSQL</p>
</footer>
