@use 'mixins' as *;

footer {
  background-color: #999999;
  width: 100%;

}

.social-media-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;                                                                    // Adiciona um espaço entre os elementos

}

.social-media-buttons-links {
  @include base-button;
  color: #999999;
  padding: 10px 20px;
  margin: 10px;
  margin-top: 20px;
  margin-right: 0px;
  text-decoration: none;
  font-family: 'Times New Roman';
  font-size: 20px;

}

.social-media-buttons-links:hover {
  @include base-button-hover;
}

button {
  color: #999999;
  padding: 10px 20px;
  margin: 10px;
  margin-top: 20px;
  margin-right: 0px;
  font-family: 'Times New Roman';
  font-size: 20px;
}

button:hover {
  color: white;
}

.dividing-line {
  justify-self: center;
  margin-top: 10px;
  width: 60%;
  height: 1px; // Define a altura da nossa linha. 1 pixel é bem fininho, como um traço de lápis.
  background-color: white; // Pinta o fundo dessa "caixinha" com a cor branca, que é o que vai aparecer como a linha.

}

p {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  font-style: italic;
  color: white;
}


