<div class="view-all-container">

  <h2 class="view-all-title"> Visualizar Todos </h2>

  <div class="loading-message" *ngIf="loading">                                                                  <!-- Mensagem de carregamento só aparece quando loading é true -->
    Carregando usuários...                                                                                        <!-- Texto que informa ao usuário que os dados estão sendo carregados -->
  </div>

  <div class="error-message" *ngIf="errorMessage"> {{ errorMessage }} </div>              <!-- Mensagem de not-found só aparece quando loading é false e showNotFound é true -->

  <div class="view-all-form" *ngIf="users.length > 0">

    <div class="user-details" *ngFor="let user of users">

      <div class="user-details-header">

        <h3> <strong> {{ user.name }} </strong> </h3>
        <p> - id. {{ user.id }}  </p>

      </div>

      <div class="user-details-body">

        <p> <strong> Conta: </strong> {{ user.account.number }} </p>
        <p> <strong> | </strong> </p>
        <p> <strong> Agência: </strong> {{ user.account.agency }} </p>
        <p> <strong> | </strong> </p>
        <p> <strong> Saldo: </strong> {{ user.account.balance | currency:'BRL' }} </p>
        <p> <strong> | </strong> </p>
        <p> <strong> Limite da Conta: </strong> {{ user.account.limit | currency:'BRL' }} </p>
        <p> <strong> | </strong> </p>
        <p> <strong> Número do Cartão: </strong> {{ user.card.number }} </p>
        <p> <strong> | </strong> </p>
        <p> <strong> Limite do Cartão: </strong> {{ user.card.limit | currency:'BRL' }} </p>

      </div>

    </div>

  </div>

</div>



<!-- Este html tem vários recursos poderosos do Angular, como:

- Diretivas estruturais ( *ngIf ): Para mostrar ou esconder elementos com base em condições
- Interpolação ( {{ }} ): Para mostrar valores das variáveis do componente
- Event binding ( (click) , (keyup.enter) ): Para chamar métodos quando eventos acontecem
- Two-way binding ( [(ngModel)] ): Para sincronizar o valor do input com a variável do componente
- Pipes ( currency:'BRL' ): Para formatar valores como moeda brasileira -->
