<div class="menu-container">
  <h2 class="menu-title"> Menu </h2>
  <div class="menu-buttons-container">
    <button class="menu-button" >Criar</button> <!-- (click)="goToCreate()" -->
    <button class="menu-button" >Deletar</button> <!-- (click)="goToDelete()" -->
    <button class="menu-button" >Atualizar</button> <!-- (click)="goToUpdate()" -->
    <button class="menu-button" >Visualizar</button> <!-- (click)="goToView()" -->
    <button class="menu-button" >Visualizar Todos</button> <!-- (click)="goToViewAll()" -->
  </div>
</div>
