<div class="menu-container">
  <h2 class="menu-title"> Gestão de Contas</h2>
  <div class="menu-buttons-container">
    <button class="menu-buttons" (click)="goToCreate()" > Criar </button>
    <button class="menu-buttons" (click)="goToDelete()" > Deletar </button>
    <button class="menu-buttons" (click)="goToUpdate()" > Atualizar </button>
    <button class="menu-buttons" (click)="goToView()" > Visualizar </button>
    <button class="menu-buttons" (click)="goToViewAll()" > Visualizar Todos </button> 
  </div>
</div>
