<div class="menu-container">
  <h2 class="menu-title"> Gestão de Contas</h2>
  <div class="menu-buttons-container">
    <button class="menu-buttons" >Criar</button> <!-- (click)="goToCreate()" -->
    <button class="menu-buttons" >Deletar</button> <!-- (click)="goToDelete()" -->
    <button class="menu-buttons" >Atualizar</button> <!-- (click)="goToUpdate()" -->
    <button class="menu-buttons" >Visualizar</button> <!-- (click)="goToView()" -->
    <button class="menu-buttons" >Visualizar Todos</button> <!-- (click)="goToViewAll()" -->
  </div>
</div>
