@use 'variables' as *;
@use 'mixins' as *;

.menu-container {
  @include page-container;
}

.menu-title {
  @include title;
  margin-bottom: 10px;
}

.menu-buttons-container {
  display: flex;                                        // Necessário para tornar flexíveis os elementos div.
  gap: 20px;
}

.menu-buttons {
  border: 1px solid $primary-color;
}


