<div class="view-container">

    <h2 class="view-title"> Visualizar </h2>

    <div class="view-form">

      <div class="search-id">

        <label for="userId">ID do Usuário:</label>
        <input type="number" id="userId" > <!-- [(ngModel)]="userId" (keyup.enter)="searchUser()" -->
        <button class="search-btn" >Buscar</button> <!-- (click)="searchUser()" -->

      </div>

      <div class="user-details"> <!-- *ngIf="user"  -->

        <p><strong>Nome:</strong> </p> <!-- {{ user.name }} -->
        <p><strong>Número da Conta:</strong> </p> <!-- {{ user.account.number }} -->
        <p><strong>Número da Agência:</strong> </p> <!-- {{ user.account.agency }} -->
        <p><strong>Saldo:</strong> </p> <!-- {{ user.account.balance | currency:'BRL' }} -->
        <p><strong>Limite da Conta:</strong> </p> <!-- {{ user.account.limit | currency:'BRL' }} -->
        <p><strong>Número do Cartão:</strong> </p> <!-- {{ user.card.number }} -->
        <p><strong>Limite do Cartão:</strong> </p> <!-- {{ user.card.limit | currency:'BRL' }} -->

      </div>

      <div class="not-found-message"> Usuário não encontrado! </div><!-- *ngIf="!user && searched && !successMessage"  -->

    </div>
  </div>



  <!-- Ele usa vários recursos poderosos do Angular, como:

  - Diretivas estruturais ( *ngIf ): Para mostrar ou esconder elementos com base em condições
  - Interpolação ( {{ }} ): Para mostrar valores das variáveis do componente
  - Event binding ( (click) , (keyup.enter) ): Para chamar métodos quando eventos acontecem
  - Two-way binding ( [(ngModel)] ): Para sincronizar o valor do input com a variável do componente
  - Pipes ( currency:'BRL' ): Para formatar valores como moeda brasileira -->
